<h1>Voici nos contacts:</h1>
<p><strong class= "name">Tsiory= </strong><a class="mail" target= "_blank" href="gmail">randriamaonjisoanantenaina@gmail.com</a></p>
<p><strong class= "name">Steff= </strong><a class="mail" target= "_blank" href="gmail">srandrianomanina@gmail.com</a></p>
